.app {
  max-width: 1200px;
  min-height: 100vh;
  margin: auto;
  font-size: 1.25em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.course_container {
  margin: 2rem 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  align-content: flex-start;
  justify-content: center;
}

.getCourse {
  width: 270px;
  height: 2rem;
  text-align: center;
  font-family: var(--mono);
  font-weight: 500;
  font-size: 1rem;
  border: 2px solid var(--black);
  border-radius: 15px;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.heading {
  margin: 4rem 0 6rem 0;
  font-size: 3rem;
  text-shadow: .1em .1em #121417;
}

@media only screen and (max-width: 500px) {
  .heading {
    font-size: 2rem;
  }
}