.btn {
  font-family: var(--mono);
  min-width: 1.75rem;
  width: 40%;
  margin: 0 .4rem;
  height: 1.75rem;
  line-height: .75rem;
  background-color: var(--btn-color, #9a9a9a);
  border-radius: 6px;
  border: 1px solid #00000042;
  cursor: pointer;
  color: inherit;
  text-align: center;
}