.course {
  background-color: white;
  color: black;
  font-family: "JetBrains Mono", Menlo, Monaco, Consolas, monospace;
  font-weight: 600;
  width: 16rem;
  height: 14rem;
  border-radius: 15px;
  margin: auto;
  box-shadow: 0 8px 5px black;
  box-shadow: black 0px 6px 0px, #d6d6e7 0 -6px 0 inset;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

h3 {
  font-size: 1.75rem;
  text-shadow: 1px 1px rgba(194, 206, 216, 0.89);
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.btn_container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

button {
  font-family: "JetBrains Mono", Menlo, Monaco, Consolas, monospace;
  width: 1.75rem;
  height: 1.75rem;
  background-color: lightgray;
  border-radius: 6px;
}

span {
  display: block;
  font-size: 0.8rem;
  text-align: center;
  min-height: 2rem;
  margin-top: 0;
}
