.course {
  background-color: white;
  color: black;
  font-family: var(--mono);
  font-weight: 600;
  width: 16rem;
  height: 14rem;
  border-radius: 15px;
  box-shadow: var(--black) 0px 6px 0px, #d6d6e7 0 -6px 0 inset;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.heading {
  font-size: 1.75rem;
  text-shadow: 1px 1px rgba(194, 206, 216, 0.89);
  margin-top: -0.75rem;
  margin-bottom: 0.5rem;
}

.flip {
  position: relative;
  left: 116px;
  background-color: inherit;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: inherit;
}

.delete {
  position: relative;
  top: -2px;
  right: 120px;
  background-color: inherit;
  border: none;
  font-size: 0.75rem;
  cursor: pointer;
}

.btn_container {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}

.btn_gray {
  --btn-color: #9a9a9a;
}

.btn_A {
  --btn-color: #74b957;
}

.btn_B {
  --btn-color: #396ee0;
}

.btn_C {
  --btn-color: #6d9ad1;
}

.btn_D {
  --btn-color: #f5f520;
}

.btn_E {
  --btn-color: #eaa32a;
}

.btn_F {
  --btn-color: #da7575;
}

.span {
  display: block;
  font-size: 0.8rem;
  text-align: center;
  min-height: 2rem;
  margin: 0 0.5rem;
}

.mg0 {
  margin: 0;
  min-height: 1rem;
}
