.footer {
  background-color: var(--black);
  min-height: var(--footer-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.img {
  width: 32px;
  height: 32px;
}

.link {
  color: cadetblue;
  text-decoration: none;
  padding: 2px;
  transition-duration: 250ms;
}

.link:hover {
  background-color: #3f4752b9;
  border-radius: 4px;
  text-decoration: underline;
  transition-duration: 250ms;
}